<script>
$(document).ready(function() {
	$.metadata.setType("attr", "validate");
	$( "#startTime" ).datepicker();
	$( "#endTime" ).datepicker();
	$("#form1").validate({
		errorPlacement: function(error, element){
			var error_span = element.next('span');
			error_span.addClass("errorClass");
			error_span.html(error.html());
		},
		success: function(label){
			label.remove();
		},
		submitHandler: function (){
				save();
				return true;
        }
	});
 });
 
 var checkSubmitFlag = false;
	function save() {

	  	if(checkSubmitFlag ==true){
	       alert("请勿重复提交");
	       return false;
	    }

	    checkSubmitFlag = true;

		disableBtn('saveBtn');
		submitJqueryFormData('form1', '$!{rc.contextPath}/shopDiscountSetting/save.do', function(
				data) {

				 checkSubmitFlag = false;
			if (data == '200') {
				window.location.href = "${rc.contextPath}/shopDiscountSetting/discountSettingList.htm";
			} else if(data == '201'){
				alert("时间冲突");
			}else {
				alert("操作失败，原因:" + data);
				enableBtn('saveBtn');
			}
		});
	}

</script>
<div class="content">
	<div class="bd-actionbar">
		
		<h4 class="tit">
					 添加店铺折扣活动
				</h4>
	</div><!--bd-actionbar-->
	<div class="bd-main">
	<div class="bd-main-inner" style="padding-top: 20px;padding-right: 0;padding-left: 0;">
	<form class="jqtransform" name="itemForm" id="form1" action="/shopDiscountSetting/save.do" enctype="multipart/form-data" method="post" novalidate="novalidate">
	<table class="form">
		<tbody>
		<tr>
			<td align="right"><label class="tit">折扣活动名称：</label></td>
			<td><input class="form-input" type="text" name="name" id="name" value="" validate="{required:true}">
			&nbsp;<span></span><span style="font-size: 12px;color: #999;vertical-align: bottom;margin-left: 5px;">名称字数不超过10个字</span>
			</td>
		</tr>
		<tr style="height: 10px;"></tr>
		<tr>
			<td style="width: 0px;margin-top: 10px;"><label class="tit">折扣：</label></td>
			<td style=""><input class="form-input" type="number" name="discount" id="discount" validate="{required:true,number:true}"  style="padding: 0;">&nbsp;<span></span>
		    <span style="font-size: 12px;color: #999;vertical-align: bottom;margin-left: 5px;">例如：0.8</span>
		    </td>
		</tr>
		<tr>
			<td align="right"><label class="tit">活动时间：</label></td>
			<td>
			    <span>开始：</span>
				<input class="form-input input-time-day" type="text" name="startTimestr" id="startTime" validate="{required:true}" readonly="readonly" value="">&nbsp;<span></span>
				<span style="padding: 0 10px">至</span>
				<input class="form-input input-time-day" type="text" name="endTimestr" id="endTime" validate="{required:true}" readonly="readonly" value="">&nbsp;<span></span>
				<span style="padding-left: 10px">结束</span>
			</td>
		</tr>
		<tr style="height: 10px;"></tr>
		<tr class="btn-bar">
			<td></td>
			<td><input class="btn btn-success" type="submit" value="提交"></td>
		</tr>
	</tbody></table>
	</form>
	</div><!--bd-main-inner-->
	</div><!--bd-main-->
</div><!--content-->