<script type="text/javascript">
$(document).ready(function() {

	$( "#startTime" ).datepicker();
	$( "#endTime" ).datepicker();

 });

    function pageBack(){
    	location.reload();
    }

	
	
	function snackPackage(standardorderId,executedTime){
		window.location.href="${rc.contextPath}/snackPackageOrder/addSnackPackageOrder.htm?standardorderId="+standardorderId+"&executedTime="+executedTime;
	}

	function editOrder(standardorderId){
	  window.location.href="${rc.contextPath}/snackPackageOrder/show.htm?standardorderId="+standardorderId;
	}
	
</script>

<div class="content">
	<div class="bd-actionbar">
	    #if($!snackpackageType==2)
		<a href="/snackPackageOrder/addstandardOrder.htm" class="btn btn-success"><i class="ico"></i>添加零食包套餐</a>
		#else
		#end
<!-- 		<a href="addstandardOrderAuto.htm" class="btn btn-success"><i class="ico"></i>自动生成标准套餐</a> -->
	</div><!--bd-actionbar-->
	<div class="bd-main">
	<div class="bd-main-inner">

	#if($!snackpackageType==2)
	<form class="jqtransform" id="orderListForm" action="standardOrderlist.htm?snackpackageType=2" method="POST">
	#else	
	<form class="jqtransform" id="orderListForm" action="standardOrderlist.htm?snackpackageType=1" method="POST">
	#end
		<table class="form form-horizontal">
		<tr>
			<td><label class="tit first-tit">开始时间：</label></td>
			<td>
				<input class="form-input input-time-day" type="text" name="startTime" id="startTime" readonly="readonly" value="$!startTime">
			</td>

			<td><label class="tit">结束时间：</label></td>
			<td>
				<input class="form-input input-time-day" type="text" name="endTime" id="endTime" readonly="readonly" value="$!endTime">
			</td>

			<td>
			    <input class="form-input input-time-day" type="hidden"  name="standardorderId" id="standardorderId" value="$!standardorderId">
				<a class="btn btn-warning btn-sm" onclick="javascript:$(orderListForm).submit()">&nbsp;&nbsp;查 &nbsp;找 &nbsp;&nbsp;</a>
			</td>
			#if($!snackpackageType==1)
			#end
<!-- 			<td> -->
<!-- 				<a href="${rc.contextPath}/standardOrder/categorynum.htm">类目数量设定</a> -->
<!-- 			</td> -->
		</tr>
	</table>
	</form>

	<br/>



	#foreach($pair in $page.result)
	#set($itemList = $pair.right)
	#set($dto = $pair.left)

	<table class="table" style="border:#000 solid 2px;margin-bottom:20px">
        <tr class="info">
			<td colspan="7">
            	<span>套餐编号：$dto.standardorderId</span>
                <span>创建时间：$!date.format('yyyy-MM-dd HH:mm:ss',$!dto.createdTime)</span>
                <span>执行日期：$!date.format('yyyy-MM-dd',$!dto.executedTime)</span>
<!--                 <span>合计：$NumberTool.toYuanNumber($!dto.totalFee) 元</span> -->
				#if($!snackpackageType==1)
	                #if ($!dto.standardStatus==1)
	                <span>状态：已生成预订单</span>
	                #else
	                <span>状态：未生成预订单</span>
	                #end
	            #end
                <br/>
                #if ($!dto.snackpackageType==1 && $!dto.standardStatus!=1)
<!--                 <span> -->
<!--                 	<button class="btn btn-success refundMoney" onclick="if(confirm('确定取消?')){cancelOrder('$dto.standardorderId')}">取消套餐</button> -->
<!--                 </span> -->
                #end
                #if ($!dto.snackpackageType==2 && $!dto.snackpackageStatus!=1)
                #set($executedTimeStr = $!date.format('yyyy-MM-dd',$!dto.executedTime))
                <span>
            	    <button class="btn btn-success refundMoney" onclick="editOrder('$dto.standardorderId')">编辑套餐</button>
                </span>
                <span>
            	    <button class="btn btn-success refundMoney" onclick="snackPackage('$dto.standardorderId','$executedTimeStr')">生成零食包</button>
                </span>
				#end
            </td>

		</tr>
<!-- 		 <tr class="info"> -->

<!--             <td colspan="6"> -->

<!-- 				<span>特殊要求：$!dto.memo</span> -->

<!--             </td> -->
<!-- 		</tr> -->
		<tr>
			<th width="40%">商品名称</th>
			<th width="20%">规格</th>
			<th width="10%">单价</th>
<!-- 			<th width="10%">数量</th> -->
<!-- 			<th width="20%">总价</th> -->
		</tr>
		#foreach($item in $itemList)
		<tr>
			<td>$!item.itemName</td>
			<td>$!item.itemSize</td>
			<td>$NumberTool.toYuanNumber($!item.itemPrice)</td>
<!-- 			<td>$!item.num</td> -->
<!-- 			<td>$NumberTool.toYuanNumber($!item.fee)</td> -->
		</tr>
		#end
	</table>
	#end
	<div class="text-center">
			#parse("/common/page.vm")
	</div>
	</div><!--bd-main-inner-->
	</div><!--bd-main-->




