<script type="text/javascript">

</script>

<div class="content">
    <div class="bd-actionbar">
        <h4 class="tit">全站月报</h4>
        <div class="an">
            <a href="${rc.contextPath}/free/allDayReportlist.htm?menuHeight=$!menuHeight&menuName=$!menuName" class="wo">日报</a >
            <a href="${rc.contextPath}/free/allMonthReportlist.htm?menuHeight=$!menuHeight&menuName=$!menuName" class="wo active">月报</a >
        </div>
    </div>
		<div class="bd-main">
		<div class="bd-main-inner">
		<form class="jqtransform" name="tranSumForm" id="tranSumForm" action="${rc.contextPath}/free/allMonthReportlist.htm?menuHeight=$!menuHeight&menuName=$!menuName"  method="POST">
		
	</form>
			<table class="table" style="width:140%">
			  <tr>
			  	<th>开通店铺数</th>
			  	<th>下单店铺数</th>
			  	<th>开通客户数</th>
			  	<th>下单客户数</th>
			  	<th>新客户数</th>
			  	<th>老客户数</th>
				<th>月份</th>
				<th>订单金额</th>
				<th>订单数量</th>
				<th>退货金额</th>
				<th>退货单数量</th>
				<th>采购总额</th>
				<th>店均采购额</th>
				<th>店日均采购额</th>
				<th>利润</th>
				<th>利润率</th>
                  <th>新客户采购额</th>
                  <th>老客户采购额</th>
			  </tr>
			  #foreach($bean in $page.result)
		        <tr>
					<td>$!bean.openshopnum</td>
					<td>$!bean.ordershopnum</td>
					<td>$!bean.openCusNum</td>
					<td>$!bean.orderCusNum</td>
					<td>$!bean.newordershopnum</td>
					<td>$!bean.oldordershopnum</td>
					<td>$!date.format('yyyy-MM',$!bean.sumDate)</td>
					<td>$NumberTool.toYuanNumber($!bean.orderFee)</td>
					<td>$!bean.orderNum</td>
					<td>$NumberTool.toYuanNumber($!bean.refundFee)</td>
					<td>$!bean.refundNum</td>
					<td>$NumberTool.toYuanNumber($!bean.soucingFee)</td>
					<td>$NumberTool.toYuanNumber($!bean.avgShopDayFee)</td>
					<td>$NumberTool.toYuanNumber($!bean.avgDayFee)</td>
					<td>$NumberTool.toYuanNumber($!bean.profit)</td>
					<td>#if($!bean.profitRate) $!bean.profitRate% #end</td>
                    <td>$NumberTool.toYuanNumber($!bean.newsoucingFee)</td>
                    <td>$NumberTool.toYuanNumber($!bean.oldsoucingFee)</td>
				</tr>
			  #end
			</table>
		<div class="text-center">
           #parse("/common/page.vm")
        </div>
		</div><!--bd-main-inner-->
		</div><!--bd-main-->
	</div><!--content-->
<script type="text/javascript">
    $(".wo").on("click",function(){
        $(this).addClass("active").siblings().removeClass("active")
    })
</script>