html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	color: #333;
	font: 12px/1.5 "\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",tahoma,arial
}

ol,ul {
	padding: 0;
	margin: 0;
	list-style-type: none
}

input,select {
	font-size: 12px
}

a {
	color: #ff992e
}

img {
	vertical-align: middle
}

.pull-left,.fl {
	float: left
}

.pull-right,.fr {
	float: right
}

.hide {
	display: none
}

.clearfix {
	*zoom: 1
}

.center {
	text-align: center
}

.txtleft {
	text-align: left
}

.txtright {
	text-align: right
}

.clearfix:before,.clearfix:after {
	display: table;
	content: ""
}

.clearfix:after {
	clear: both
}

.mui-bar .mui-btn-link {
	color: #ff992e
}

.mui-bar .mui-btn .mui-icon {
	top: 0
}

input[type="submit"],.mui-btn-orange {
	background: #ff992e;
	border-color: #ff992e;
	color: #fff
}

.mui-btn-gray {
	background: #e6e6e6;
	border-color: #e6e6e6;
	color: #333
}

input[type="submit"]:active,.mui-btn-orange:active,.mui-btn-orange.mui-active {
	color: #fff;
	background-color: #ff992e;
	border: 1px solid #ff992e
}

.mui-btn-block {
	padding: 8px
}

.mui-bar-nav~.mui-content.mui-content-all {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	padding-top: 0;
	width: 100%;
	overflow-y: auto
}

.mui-bar-nav~.mui-content.mui-content-center {
	position: absolute;
	top: 44px;
	left: 0;
	bottom: 50px;
	width: 100%;
	padding-top: 0;
	overflow-y: auto
}

.mui-bar-nav~.mui-content.mui-content-center-bottom {
	position: absolute;
	top: 44px;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 0;
	overflow-y: auto
}

.mi-bg-gray.mui-bar {
	background: #f8f8f8
}

.mi-bg-gray.mui-bar .mui-icon {
	color: #444
}

.mi-bg-gray.mui-bar .mui-btn-link {
	color: #444
}

.mi-bg-gray.mui-bar .mui-title {
	color: #444
}

.mi-bg-orange.mui-bar {
	background: #fdaa53
}

.mi-bg-orange.mui-bar .mui-icon {
	color: #fff
}

.mi-bg-orange.mui-bar .mui-btn-link {
	color: #fff
}

.mi-bg-orange.mui-bar .mui-title {
	color: #fff
}

.mui-bar-tab-orange.mui-bar-tab .mui-tab-item {
	background: #feae30;
	color: #ebebeb
}

.mui-bar-tab-orange.mui-bar-tab .mui-tab-item.mui-active {
	color: #fff;
	background: #fec265
}

.mui-checkbox .input-checkbox {
	position: absolute;
	top: 4px;
	right: 20px;
	display: inline-block;
	width: 28px;
	height: 26px;
	-webkit-appearance: none;
	background-color: transparent;
	border: 0;
	outline: 0 !important
}

.mui-checkbox .input-checkbox:before {
	font-family: Muiicons;
	font-size: 28px;
	font-weight: normal;
	line-height: 1;
	color: rgba(170,170,170,0.6);
	text-decoration: none;
	background: none;
	border-radius: 0;
	-webkit-font-smoothing: antialiased
}

.mui-checkbox .input-checkbox.checked:before {
	color: #007aff
}

.mui-checkbox .input-checkbox:before {
	content: "\e411"
}

.mui-checkbox .input-checkbox.checked:before {
	content: "\e442"
}

.mi-bg-gray.mui-bar .mui-icon-arrowthinleft {
	top: 5px;
	font-size: 36px
}