<script type="text/javascript">
var phoneflag=false;
$(document).ready(function() {
	
	$.metadata.setType("attr", "validate");
	$("#form1").validate({
		errorPlacement: function(error, element){
			var error_span = element.next('span');
			error_span.addClass("errorClass");
			error_span.html(error.html());
		},
		success: function(label){
			label.remove();
		},
		submitHandler: function (){
			checkPhone();
			if(phoneflag==true){
        			save();
        		}
            	return false;
        }
	});
	
	$('#mobilePhone').blur(function(){
		checkPhone();
	});
	
 });

function checkPhone(){
	var mobilePhone = $("#mobilePhone").val().trim();
	
	var url = "${rc.contextPath}/business/checkPhoneNum.json";
	
	if(mobilePhone!=""){
		doJsonRequest(url, {"mobilePhone" : mobilePhone}, showResult);
	}	

}

function showResult(data) {

	if(data=="error"){
		phoneflag=false;
		$("#mobilePhoneResult").addClass("errorClass");
		$("#mobilePhoneResult").html("该手机号已注册");
	}
	else{
		phoneflag=true;
		$("#mobilePhoneResult").html("");
	}
	
}

 
function save(){
	disableBtn('saveBtn');
	
	var url="${rc.contextPath}/business/businessSave.do";
  	submitFormData("form1",url,show);
}

function show(data){
  	
	if(data.indexOf("成功")!=-1){
		alert(data);
		cancel();
	}
	else{
		alert(data);
		enableBtn('saveBtn');
	}
}

function cancel(){
  	window.location.href="${rc.contextPath}/business/businessList.htm";
}
</script>

<div class="content">
	<div class="bd-actionbar">
		<a href="${rc.contextPath}/business/businessList.htm" title="返回商家列表" class="btn btn-return"><</a>
		<h4 class="tit">添加商家</h4>
	</div><!--bd-actionbar-->
	
	<div class="bd-main">
		<div class="bd-main-inner">
			<form class="jqtransform" name="businessForm" id="form1" action="${rc.contextPath}/business/businessSave.do" method="post">
				<table class="form">
					<tr>
						<td align="right"><label class="tit"><font color='red'>*</font>姓名：</label></td>
						<td>
							<input validate="{required:true,maxlength:255}" class="form-input" type="text" name="businessName" id="businessName" />
							&nbsp;<span></span>
						</td>
					</tr>
					<tr>
						<td align="right"><label class="tit"><font color='red'>*</font>手机号码：</label></td>
						<td>
							<input validate="{required:true,maxlength:255}" class="form-input" type="text" name="mobilePhone" id="mobilePhone" />
							&nbsp;<span id="mobilePhoneResult"></span>
						</td>
					</tr>
					
					<tr>
						<td align="right"><label class="tit"><font color='red'>*</font>商家地址：</label></td>
						<td>
							<textarea id="businessAddress" name="businessAddress" cols="50"
								rows="5" validate="{required:true,maxlength:1024}"></textarea>
							&nbsp;<span></span>	
						</td>
					</tr>
					<tr class="btn-bar">
						<td></td>
						<td><a class="btn btn-primary" id="saveBtn" href="#" onclick="$('#form1').submit();">保存</a></td>
					</tr>
				</table>
			</form>
		</div><!--bd-main-inner-->
	</div><!--bd-main-->
</div><!--content-->