<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.b2b.common.dao.RegionMapper" >
  <resultMap id="BaseResultMap" type="com.b2b.common.domain.Region" >
    <id column="REGION_ID" property="regionId" jdbcType="INTEGER" />
    <result column="REGION_CODE" property="regionCode" jdbcType="VARCHAR" />
    <result column="REGION_NAME" property="regionName" jdbcType="VARCHAR" />
    <result column="PARENT_ID" property="parentId" jdbcType="INTEGER" />
    <result column="REGION_LEVEL" property="regionLevel" jdbcType="INTEGER" />
    <result column="REGION_ORDER" property="regionOrder" jdbcType="INTEGER" />
    <result column="REGION_NAME_EN" property="regionNameEn" jdbcType="VARCHAR" />
    <result column="REGION_SHORTNAME_EN" property="regionShortnameEn" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    REGION_ID, REGION_CODE, REGION_NAME, PARENT_ID, REGION_LEVEL, REGION_ORDER, REGION_NAME_EN, 
    REGION_SHORTNAME_EN
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.b2b.common.domain.RegionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from region
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from region
    where REGION_ID = #{regionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from region
    where REGION_ID = #{regionId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.b2b.common.domain.RegionExample" >
    delete from region
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.b2b.common.domain.Region" >
    insert into region (REGION_ID, REGION_CODE, REGION_NAME, 
      PARENT_ID, REGION_LEVEL, REGION_ORDER, 
      REGION_NAME_EN, REGION_SHORTNAME_EN)
    values (#{regionId,jdbcType=INTEGER}, #{regionCode,jdbcType=VARCHAR}, #{regionName,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=INTEGER}, #{regionLevel,jdbcType=INTEGER}, #{regionOrder,jdbcType=INTEGER}, 
      #{regionNameEn,jdbcType=VARCHAR}, #{regionShortnameEn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.b2b.common.domain.Region" >
    insert into region
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="regionId != null" >
        REGION_ID,
      </if>
      <if test="regionCode != null" >
        REGION_CODE,
      </if>
      <if test="regionName != null" >
        REGION_NAME,
      </if>
      <if test="parentId != null" >
        PARENT_ID,
      </if>
      <if test="regionLevel != null" >
        REGION_LEVEL,
      </if>
      <if test="regionOrder != null" >
        REGION_ORDER,
      </if>
      <if test="regionNameEn != null" >
        REGION_NAME_EN,
      </if>
      <if test="regionShortnameEn != null" >
        REGION_SHORTNAME_EN,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="regionId != null" >
        #{regionId,jdbcType=INTEGER},
      </if>
      <if test="regionCode != null" >
        #{regionCode,jdbcType=VARCHAR},
      </if>
      <if test="regionName != null" >
        #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="regionLevel != null" >
        #{regionLevel,jdbcType=INTEGER},
      </if>
      <if test="regionOrder != null" >
        #{regionOrder,jdbcType=INTEGER},
      </if>
      <if test="regionNameEn != null" >
        #{regionNameEn,jdbcType=VARCHAR},
      </if>
      <if test="regionShortnameEn != null" >
        #{regionShortnameEn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.b2b.common.domain.RegionExample" resultType="java.lang.Integer" >
    select count(*) from region
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update region
    <set >
      <if test="record.regionId != null" >
        REGION_ID = #{record.regionId,jdbcType=INTEGER},
      </if>
      <if test="record.regionCode != null" >
        REGION_CODE = #{record.regionCode,jdbcType=VARCHAR},
      </if>
      <if test="record.regionName != null" >
        REGION_NAME = #{record.regionName,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null" >
        PARENT_ID = #{record.parentId,jdbcType=INTEGER},
      </if>
      <if test="record.regionLevel != null" >
        REGION_LEVEL = #{record.regionLevel,jdbcType=INTEGER},
      </if>
      <if test="record.regionOrder != null" >
        REGION_ORDER = #{record.regionOrder,jdbcType=INTEGER},
      </if>
      <if test="record.regionNameEn != null" >
        REGION_NAME_EN = #{record.regionNameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.regionShortnameEn != null" >
        REGION_SHORTNAME_EN = #{record.regionShortnameEn,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update region
    set REGION_ID = #{record.regionId,jdbcType=INTEGER},
      REGION_CODE = #{record.regionCode,jdbcType=VARCHAR},
      REGION_NAME = #{record.regionName,jdbcType=VARCHAR},
      PARENT_ID = #{record.parentId,jdbcType=INTEGER},
      REGION_LEVEL = #{record.regionLevel,jdbcType=INTEGER},
      REGION_ORDER = #{record.regionOrder,jdbcType=INTEGER},
      REGION_NAME_EN = #{record.regionNameEn,jdbcType=VARCHAR},
      REGION_SHORTNAME_EN = #{record.regionShortnameEn,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.b2b.common.domain.Region" >
    update region
    <set >
      <if test="regionCode != null" >
        REGION_CODE = #{regionCode,jdbcType=VARCHAR},
      </if>
      <if test="regionName != null" >
        REGION_NAME = #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        PARENT_ID = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="regionLevel != null" >
        REGION_LEVEL = #{regionLevel,jdbcType=INTEGER},
      </if>
      <if test="regionOrder != null" >
        REGION_ORDER = #{regionOrder,jdbcType=INTEGER},
      </if>
      <if test="regionNameEn != null" >
        REGION_NAME_EN = #{regionNameEn,jdbcType=VARCHAR},
      </if>
      <if test="regionShortnameEn != null" >
        REGION_SHORTNAME_EN = #{regionShortnameEn,jdbcType=VARCHAR},
      </if>
    </set>
    where REGION_ID = #{regionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.b2b.common.domain.Region" >
    update region
    set REGION_CODE = #{regionCode,jdbcType=VARCHAR},
      REGION_NAME = #{regionName,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=INTEGER},
      REGION_LEVEL = #{regionLevel,jdbcType=INTEGER},
      REGION_ORDER = #{regionOrder,jdbcType=INTEGER},
      REGION_NAME_EN = #{regionNameEn,jdbcType=VARCHAR},
      REGION_SHORTNAME_EN = #{regionShortnameEn,jdbcType=VARCHAR}
    where REGION_ID = #{regionId,jdbcType=INTEGER}
  </update>
</mapper>