<script type="text/javascript">
 var checkSubmitFlag = false;
	function save() {
		var right = $("input[name='right']").val();
		if(!name){
			alert("权限不能为空");
			return false;
		}else{
			if(checkSubmitFlag ==true){
		       alert("请勿重复提交");
		       return false;
		    }
		    checkSubmitFlag = true;
			return true;
		}
		
	}

	
</script>
<div class="content">
	<div class="bd-actionbar">
		<h4 class="tit">添加区域</h4>


	</div>
	<!--bd-actionbar-->
	<div class="bd-main">
		<div class="bd-main-inner">

			<form class="jqtransform" id="rightForm" method="POST"
				action="$!{rc.contextPath}/cityRegion/add.do">
				<table class="form">
					<tr>
						<td align="right"><label class="tit">名称：</label></td>
						<td><input type="text" name="name" id="name" value=""></td>
					</tr>
					<tr>
						<td align="right"><label class="tit">备注：</label></td>
						<td><input type="text" name="remark" id="remark" value=""></td>
					</tr>
					
					<tr class="btn-bar">
						<td></td>
						<td>

						<a class="btn btn-primary" id="saveBtn" href="#" onclick="$('#rightForm').submit();">确认</a>

						</td>
					</tr>
				</table>
			</form>
		</div>
		<!--bd-main-inner-->
	</div>
	<!--bd-main-->
</div>
<!--content-->