#set($layout="layout/appLayoutV3.vm")

        <div class="lw_content">
            <div class="datail_wrap">
                <h4>
                    <a href="appPriceList.htm"><img width="45%" src="${rc.contextPath}/static/images/lt_icon.png"></a>
                    <!-- span>$NumberTool.toYuanNumber($order.totalFee)</span> -->
                    <span>$DateTool.dateFormat($!order.executedTime,'yyyy.MM.dd')</span>
                </h4>
                <ul>
                    <li class="hd">
                        <span class="t">商品</span>
                        <span>规格</span>
                        <span>单价</span>
                        <span>数量</span>
                        <span class="p">总价</span>
                    </li> 
                #foreach($orderItem in $orderItemList)
                    <li>
                        <span class="t">$orderItem.itemName</span>
                        <span>$orderItem.itemSize</span>
                        <span>$NumberTool.toYuanNumber($orderItem.itemPrice)</span>
                        <span>$orderItem.num</span>
                        <span class="p">$NumberTool.toYuanNumber($orderItem.fee)</span>
                    </li>
                 #end
                    <li>
                        <span class="t">合计</span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span class="p">$NumberTool.toYuanNumber($order.totalFee)</span>
                    </li>
                </ul>
                <p class="sign_out">
                    <span>$user.userName</span>
                    <a href="/appLogin/appLogout.htm">退出</a>
                </p>
            </div>
        </div>