<script type="text/javascript">
$(document).ready(function() {

	$( "#startTime" ).datepicker();
	$( "#endTime" ).datepicker();

 });

    function pageBack(){
    	location.reload();
    }


</script>

<div class="content">
	<div class="bd-actionbar">

	</div><!--bd-actionbar-->
	<div class="bd-main">
	<div class="bd-main-inner">

	<form class="jqtransform" id="logListForm" action="logList.htm" method="POST">

		<table class="form form-horizontal">
		<tr>
			<td><label class="tit first-tit">开始时间：</label></td>
			<td>
				<input class="form-input input-time-day" type="text" name="startTime" id="startTime" readonly="readonly" value="$!startTime">
			</td>

			<td><label class="tit">结束时间：</label></td>
			<td>
				<input class="form-input input-time-day" type="text" name="endTime" id="endTime" readonly="readonly" value="$!endTime">
			</td>
			<td>

			</td>
		</tr>
		<tr>
            <td align="right"><label class="tit">手机号：</label></td>
			<td>
				<input class="form-input input-time-day" type="text"  name="phone" id="phone" value="$!phone">
			</td>
			<td align="right"><label class="tit">内容：</label></td>
			<td>
				<input class="form-input input-time-day" type="text"  name="content" id="content" value="$!content">
			</td>
			<td>
				<a class="btn btn-warning btn-sm" onclick="javascript:$(logListForm).submit()">&nbsp;&nbsp;查 &nbsp;找 &nbsp;&nbsp;</a>
			</td>
		</tr>

	</table>
	</form>



	<table class="table" style="border:#000 solid 2px;margin-bottom:20px">


		<tr>
			<th>操作人</th>
			<th>手机号码</th>
			<th>操作时间</th>
			<th>操作内容</th>

		</tr>
		#foreach($dto in $page.result)
		<tr>
			<td>$!dto.userName</td>
			<td>$!dto.mobilePhone</td>
			<td>$!date.format('yyyy-MM-dd HH:mm:ss',$!dto.createTime)</td>
			<td>$!dto.content</td>

		</tr>
		#end
	</table>

	<div class="text-center">
			#parse("/common/page.vm")
	</div>
	</div><!--bd-main-inner-->
	</div><!--bd-main-->




