 #set($layout="layout/wxLayout.vm")
     <div class="lw_hd">
        <a href="${rc.contextPath}/weixin/wxinfo.htm"><img src="${rc.contextPath}/static/images/wx/address_02.png"><span class="mid">&nbsp;&nbsp;服务细则</span></a>
    </div>
    <div class="agreement"><span>领蛙遵循以下服务细则，用心服务企业会员：</br></br><b>一、量身定制，省心托管</b></br>成为领蛙企业会员后，领蛙提供一对一全程托管服务。领蛙与公司对应负责人对接并充分沟通，了解公司的零食需求，针对性地制定合理的资金预算方案、选品方案、配送计划。确定方案和计划后，具体执行全程省心托管在领蛙。</br></br><b>二、智能选品，定时配送</b></br>企业会员除了可以选用标准的零食反应堆产品外，也可以提出特定的选品要求，领蛙提供符合特定要求的产品组合。领蛙按约定的配送计划将产品定时准时送达。</br><b></br>三、上门服务，无忧售后</b></br>如出现个别零食质量瑕疵或不喜好等问题，领蛙可提供上门服务，清点产品和数量，并作无条件退换货和退款处理，退款至领蛙会员账户余额中。（该业务服务范围目前仅限杭州主城区）</br></br><b>四、免费申领精美零食柜</b></br>企业会员可以免费申请领用精美零食柜。将零食分格摆放在零食柜上，方便员工挑选和取用。零食柜收取押金1000.00元，服务终止后可退还。（该业务服务范围目前仅限杭州主城区）</br></br><b>五、充值消费，更享优惠</b></br>企业会员通过转账或微信支付充值完成后，领蛙根据配送计划进行配送，并自动扣除相应余额。当余额不足下一次配送金额时，则暂停服务。充值可享赠送金额，赠送金额可无差别用于消费扣款。</br></br>本细则最终解释权归本公司所有，如细则内容发生变更，将在领蛙微信公众号中更新告知。
    </span></div>
