<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
    	<title>B2B后台管理系统</title>
    	<link rel="shortcut icon" href="${rc.contextPath}/static/images/favicon.png" type="image/png" />
    	<link rel="stylesheet" href="${rc.contextPath}/static/css/cc-main.css" type="text/css" />
    	<link rel="stylesheet" href="${rc.contextPath}/static/css/jquery-ui.min.css" type="text/css" />
		<script type="text/javascript" src="${rc.contextPath}/static/js/jquery.js"></script>
		<script type="text/javascript" src="${rc.contextPath}/static/js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="${rc.contextPath}/static/js/commonUtil.js"></script>
		<script type="text/javascript" src="${rc.contextPath}/static/js/jquery.jqtransform.js"></script>
		<script type="text/javascript" src="${rc.contextPath}/static/js/function.js"></script>
		<script type="text/javascript" src="${rc.contextPath}/static/js/zone.js" charset="UTF-8"></script>
		<script type="text/javascript" src="${rc.contextPath}/static/js/jquery.validate.min.js" charset="UTF-8"></script>
		<script type="text/javascript" src="${rc.contextPath}/static/js/jquery.metadata.js" charset="UTF-8"></script>
		<script type="text/javascript" src="${rc.contextPath}/static/js/messages_cn.js" charset="UTF-8"></script>
        <script type="text/javascript" src="${rc.contextPath}/static/js/datepicker_cn.js" charset="UTF-8"></script>
        <script type="text/javascript" src="${rc.contextPath}/static/js/jquery-ui-timepicker-addon.js" charset="UTF-8"></script>
       
		
		<script language="javascript">  
			$(document).ready(function(){
				var pathArray = location.pathname.split('/');
				
				if(pathArray.length != 0){
					var htmlFileName = pathArray[pathArray.length -1];
					var endPostion = htmlFileName.indexOf('.');
					htmlFileName = htmlFileName.substring(0,endPostion);
					
					$("#" + htmlFileName + "-li").addClass('active');
					
				}
				
				
			});
			
			function disableBtn(btnId){
			   $('#'+btnId).attr('disabled',"disabled");
		       $('#'+btnId).attr('class', "btn");
			}
			
			function enableBtn(btnId){
			   $('#'+btnId).attr('disabled',"");
		       $('#'+btnId).attr('class', "btn btn-primary");
			}
		</script>
    </head>
    <body>
    	<div id="header">#parse('layout/header.vm')</div>
    	<div id="content">
    		<div id="sub">
    		#if($!session.getAttribute("user").userType == 2)
				#if($!session.getAttribute("userAdmin").adminType == 1)
    				#parse('layout/leftMenuAdmin1.vm')
    			#elseif($!session.getAttribute("userAdmin").adminType == 2)
    			 	#parse('layout/leftMenuAdmin2.vm')
    			 #elseif($!session.getAttribute("userAdmin").adminType == 3)
    			 	#parse('layout/leftMenuAdmin3.vm')
    			 #elseif($!session.getAttribute("userAdmin").adminType == 4)
    			 	#parse('layout/leftMenuAdmin4.vm')
    			 #else
    			 		#parse('layout/leftMenu.vm')
    			#end
    		#else
    		
    			#parse('layout/leftMenu.vm')	
			#end	
    		
    		</div>
    		<div id="main">$screen_content</div>
    	</div>
    	<div id="footer">#parse('layout/footer.vm')</div>
    </body>
</html>
