<div class="header">
	<h1 class="logo"><a href="${rc.contextPath}/welcome.htm"></a></h1><!--logo-->
	<!--<ul class="nav">
		<li class="active"><a href="#">商品管理</a></li>
		<li><a href="#">订单管理</a></li>
		<li><a href="#">用户管理</a></li>
	</ul>--><!--nav-->
	<div class="user-infor">
		<p>欢迎<span><a style="color:yellow" href="${rc.contextPath}/useradmin/resetPassword.htm">$!session.getAttribute("user").userName</a></span></p>
		<a class="sign-out" href="${rc.contextPath}/logout.htm">登出</a>
	</div>
</div><!--header-->