<div class="sidebar">
		<ul class="s-nav">
			<li>
				<a class="a-menu" href="#"><i class="ico ico_01"></i>商品管理 </a>
				<ul class="b-menu">
				    <li id='itemCategoryList-li'><a href="${rc.contextPath}/itemCategory/itemCategoryList.htm">品种列表</a></li>
					<li id='itemList-li'><a href="${rc.contextPath}/item/itemList.htm">商品列表</a></li>
				</ul>
			</li>
			<li>
				<a class="a-menu" href="#"><i class="ico ico_05"></i>订单管理</a>
				<ul class="b-menu">
					<li id='orderlist-li'><a href="${rc.contextPath}/order/orderlist.htm">订单列表</a></li>
					<li id='addorder-li'><a href="${rc.contextPath}/order/addorder.htm">添加订单</a></li>
				</ul>
			</li>
			
			<li>
				<a class="a-menu" href="#"><i class="ico ico_03"></i>用户管理</a>
				<ul class="b-menu">
					<li id='userList-li'><a href="${rc.contextPath}/user/userList.htm">用户列表</a></li>
					<li id='userAdd-li'><a href="${rc.contextPath}/user/userAdd.htm">添加用户</a></li>
				</ul>
			</li>
			
		</ul><!--s-nav-->
	</div><!--sidebar-->