#set($layout="layout/shopLayout.vm")
<div class="purchase_order">
       <!-- 无订单 -->
        <!-- <div class="no_order">无订单</div> -->
        <div class="order_tip">
            <div class="order_list" style="width:20%;text-align:left;">
                <span style="padding-left: .22rem">客户</span>
            </div>
            <div class="order_list" style="width:18%;">采购额</div>
            <div class="order_list" style="width:18%">订单金额</div>
            <div class="order_list" style="width:18%;">退货额</div>
            <div class="order_list" style="width:18%;">订单数</div>
        </div>
        <div class="record">
        	#foreach($shop in $shops)
        		<div class="gong_list" ontouchend="detail('2017-04');">
##                <a href="${rc.contextPath}/convenient/reseau/shop_freeDetail.htm?shopId=$!shop.shopId" style="color: #000;">
                <a href="${rc.contextPath}/convenient/manage/shop_index.htm?shop_id=$!shop.shopId" style="color: #000;">
                <span class="gong_dan01 dian_01">
                    <span class="dan_1">$!shop.userName</span>
                </span>
                <span class="gong_dan01 dian_02">$NumberTool.toYuanNumber($!shop.soucingFee)</span>
                <span class="gong_dan01 dian_02">$NumberTool.toYuanNumber($!shop.orderFee)</span>
                <span class="gong_dan01 dian_02">$NumberTool.toYuanNumber($!shop.refundFee)</span>
                <span class="gong_dan01 dian_02" style="margin-left: 1%;">$!shop.orderNum #if($!shop.refundNum)（$!shop.refundNum）#else （0） #end </span>
                </a>
                </div>
        	#end
        </div>

   </div>
<script type="text/javascript">
    document.title = "福利店";
</script>