<form class="jqtransform" id="form1" name="form1" action="${rc.contextPath}/weekReport/workReportList.htm" method="post">
</form>
<div class="content">
		<div class="bd-actionbar">
	    </div><!--bd-actionbar-->
		<div class="bd-main">
		<div class="bd-main-inner">
			<table class="table">
			  <tr>
				<th>日期段</th>
				<th>开通店铺数</th>
				<th>消费店铺数</th>
				<th>消费总额</th>
				<th>同比</th>
				<th>店均消费额</th>
				<th>店日均消费额</th>
				<th>消费笔数</th>
				<th>消费人数</th>
			  </tr>
			  #foreach($bean in $page.result)
		        <tr>
					<td>$!date.format('yyyy-MM-dd',$!bean.sumDate)~$!date.format('yyyy-MM-dd',$!bean.endDate)</td>
					<td>$!bean.openShopNum</td>
					<td>$!bean.consumeShopNum</td>
					<td>$NumberTool.toYuanNumber($!bean.consumeFee)</td>
					<td>#if($!bean.beforeConsumeFee) #if($!bean.beforeConsumeFee>0)+$!bean.beforeConsumeFee% #else $!bean.beforeConsumeFee% #end #end</td>
					<td>$NumberTool.toYuanNumber($!bean.avgFee)</td>
					<td>$NumberTool.toYuanNumber($!bean.avgDayFee)</td>
					<td>$!bean.consumePen</td>
					<td>$!bean.consumeNum</td>
				</tr>
			  #end
			</table>
		<div class="text-center">
           #parse("/common/page.vm")
        </div>
		</div><!--bd-main-inner-->
		</div><!--bd-main-->
	</div><!--content-->