<div class="sidebar">
#set($cityId =$!session.getAttribute("user").cityId )
#set($isGm =$!session.getAttribute("user").isGm)
#set($dtos =$!session.getAttribute("user").privileges )
		<ul class="s-nav">
			#set($flag = 0)
			#set($flag2 = 0)
			#set($flag3 = 0)
			#set($flag4 = 0)
			#set($flag5 = 0)
			#set($flag6 = 0)
			#set($flag7 = 0)
			#set($flag8 = 0)
			#set($flag9 = 0)
			#set($flag10 = 0)
			#set($flag11 = 0)
			#set($flag12 = 0)
			#set($flag13 = 0)
			#set($flag14 = 0)
			#set($flag15 = 0)
			#set($flag16 = 0)
			#set($flag17 = 0)
			#set($flag18 = 0)
			#set($flag19 = 0)
			#set($flag20 = 0)
			#set($flag21 = 0)
			#set($flag22 = 0)
			#foreach($dto in $dtos)
				#if($dto.name=="商品管理（读）" ||$dto.name=="商品管理（写）")
				#set($flag = 1)
				#end
				#if($dto.name=="智能选品管理（读）" ||$dto.name=="智能选品管理（写）")
				#set($flag2 = 1)
				#end
				#if($dto.name=="零食包管理（读）" ||$dto.name=="零食包管理（写）")
				#set($flag3 = 1)
				#end
				#if($dto.name=="入库单管理（读）" ||$dto.name=="入库单管理（写）")
				#set($flag4 = 1)
				#end
				#if($dto.name=="盘库单管理（读）" ||$dto.name=="盘库单管理（写）")
				#set($flag5 = 1)
				#end
				#if($dto.name=="库存管理（读）" ||$dto.name=="库存管理（写）")
				#set($flag6 = 1)
				#end
				#if($dto.name=="订单管理（读）" ||$dto.name=="订单管理（写）")
				#set($flag7 = 1)
				#end
				#if($dto.name=="退货单管理（读）" ||$dto.name=="退货单管理（写）")
				#set($flag8 = 1)
				#end
				#if($dto.name=="客户管理（读）" ||$dto.name=="客户管理（写）")
				#set($flag9 = 1)
				#end
				#if($dto.name=="用户管理（读）" ||$dto.name=="用户管理（写）")
				#set($flag10 = 1)
				#end
				#if($dto.name=="权限管理（读）" ||$dto.name=="权限管理（写）")
				#set($flag11 = 1)
				#end
				#if($dto.name=="供应商管理（写）")
				#set($flag12 = 1)
				#end
				#if($dto.name=="财务管理（读）" ||$dto.name=="财务管理（写）")
				#set($flag13 = 1)
				#end
				#if($dto.name=="客户咨询管理（读）" ||$dto.name=="客户咨询管理（写）")
				#set($flag14 = 1)
				#end
				#if($dto.name=="日志管理（读）" ||$dto.name=="日志管理（写）")
				#set($flag15 = 1)
				#end
				#if($dto.name=="便利店管理（读）" ||$dto.name=="便利店管理（写）")
				#set($flag16 = 1)
				#end
				#if($dto.name=="福利店管理（读）" ||$dto.name=="福利店管理（写）")
				#set($flag17 = 1)
				#end
				#if($dto.name=="工单管理（读）" ||$dto.name=="工单管理（写）")
				#set($flag18 = 1)
				#end
				#if($dto.name=="便利店实时（读）" ||$dto.name=="便利店实时（写）")
				#set($flag19 = 1)
				#end
				#if($dto.name=="礼包管理（读）" ||$dto.name=="礼包管理（写）")
				#set($flag20 = 1)
				#end
				#if($dto.name=="设备管理（读）" ||$dto.name=="设备管理（写）")
				#set($flag21 = 1)
				#end
				#if($dto.name=="活动管理（读）" ||$dto.name=="活动管理（写）")
				#set($flag22 = 1)
				#end
			#end
			#if($flag19 == 1)
                <li class="a-menu" ><img src="${rc.contextPath}/static/images/store_01.png" class="icon">便利店实时 <img src="${rc.contextPath}/static/images/push.png" class="push">
                    <ul class="b-menu">
                        <li id="actualShopReportList-li" url="/actual/actualShopReportList.htm"><a href="/actual/actualShopReportList.htm" onclick="return false;">便利店列表</a></li>
                        <li id="actualReportList-li" url="/actual/actualReportList.htm"><a href="/actual/actualReportList.htm" onclick="return false;">消费记录</a></li>
                        <li id="actualShopItemList-li" url="/actual/actualShopItemList.htm"><a href="/actual/actualShopItemList.htm" onclick="return false;">在售商品</a></li>
                    </ul>
                </li>
			#end
			#if($flag16 == 1)
                <li class="a-menu"><img src="${rc.contextPath}/static/images/store_03.png" class="icon"></i>便利店报表 <img src="${rc.contextPath}/static/images/push.png" class="push">
                    <ul class="b-menu">
                        <li id="allDailyReportList-li"  url="/shopDailyReport/allDailyReportList.htm"  ><a href="/shopDailyReport/allDailyReportList.htm" onclick="return false;">全站报表</a></li>
                        <li id="shopDailyReportList-li"  url="/shopDailyReport/shopDailyReportList.htm"><a href="/shopDailyReport/shopDailyReportList.htm" onclick="return false;">单店报表</a></li>
                        <li id="netDailyReportList-li"  url="/shopDailyReport/netDailyReportList.htm"  ><a href="/shopDailyReport/netDailyReportList.htm"  onclick="return false;">网格报表</a></li>
##                        <li id="allMonthReportList-li"  url="/shopMonthReport/allMonthReportList.htm"  ><a href="/shopMonthReport/allMonthReportList.htm"  >全站月报</a></li>
##                        <li id="shopMonthReportList-li"  url="/shopMonthReport/shopMonthReportList.htm"><a href="/shopMonthReport/shopMonthReportList.htm"  >单店月报</a></li>
##                        <li id="netMonthReportList-li" url="/shopMonthReport/netMonthReportList.htm"   ><a href="/shopMonthReport/netMonthReportList.htm"   >网格月报</a></li>
                    </ul>
                </li>
			#end
			#if($flag17 == 1)
                <li class="a-menu"><img src="${rc.contextPath}/static/images/store_02.png" class="icon"></i>福利店报表 <img src="${rc.contextPath}/static/images/push.png" class="push">
                    <ul class="b-menu">
                        <li id="allDayReportlist-li"    url="/free/allDayReportlist.htm"><a  href="/free/allDayReportlist.htm"  onclick="return false;">全站报表</a></li>
                        <li id="shopMonthReportlist-li" url="/free/shopMonthReportlist.htm"><a href="/free/shopMonthReportlist.htm" onclick="return false;">单店报表</a></li>
                        <li id="netDayReportlist-li"    url="/free/netDayReportlist.htm"><a  href="/free/netDayReportlist.htm" onclick="return false;">网格报表</a></li>
					##                        <li id="allMonthReportlist-li"  url="/free/allMonthReportlist.htm"><a href="/free/allMonthReportlist.htm">全站月报</a></li>
##                        <li id="netMonthReportlist-li"  url="/free/netMonthReportlist.htm"><a href="/free/netMonthReportlist.htm">网格月报</a></li>
                    </ul>
                </li>
			#end
			#if($flag20 == 1)
##				<a class="a-menu" href="#"><i class="ico ico_02"></i>礼包管理</a>
##				<ul class="b-menu">
##					<li id='giftList-li'><a href="/gift/giftList.htm">礼包列表</a></li>
##				</ul>
			#end
			#if($flag == 1)
                <li class="a-menu"><img src="${rc.contextPath}/static/images/store_04.png" class="icon"></i>商品报表 <img src="${rc.contextPath}/static/images/push.png" class="push">
                    <ul class="b-menu">
                        <li id='itemDailyReports-li' url="${rc.contextPath}/itemDailyReport/itemDailyReports.htm"><a href="${rc.contextPath}/itemDailyReport/itemDailyReports.htm" onclick="return false;">商品报表</a></li>
                        <li id='shopItemMonthReportList-li' url="${rc.contextPath}/shopItemMonthReport/shopItemMonthReportList.htm"><a href="${rc.contextPath}/shopItemMonthReport/shopItemMonthReportList.htm" onclick="return false;">商品店铺月报</a></li>
                    </ul>
                </li>

                <li class="a-menu"><img src="${rc.contextPath}/static/images/store_05.png" class="icon"></i>商品管理 <img src="${rc.contextPath}/static/images/push.png" class="push">
                    <ul class="b-menu">
                        <li id='itemCategoryList-li' url="${rc.contextPath}/itemCategory/itemCategoryList.htm"><a href="${rc.contextPath}/itemCategory/itemCategoryList.htm" onclick="return false;">类目列表</a></li>
                        <li id='itemVarietyList-li' url="${rc.contextPath}/itemVariety/itemVarietyList.htm"><a href="${rc.contextPath}/itemVariety/itemVarietyList.htm" onclick="return false;">品种列表</a></li>
                        <li id='itemList-li' url="${rc.contextPath}/item/itemList.htm"><a href="${rc.contextPath}/item/itemList.htm" onclick="return false;">商品列表</a></li>
                    </ul>
                </li>
			#end

			<!--#if($flag2 == 1)

				<li>
					<a class="a-menu" href="#"><i class="ico ico_01"></i>智能选品管理 </a>
					<ul class="b-menu">
					     <li id='itemVarietyList-li'><a href="${rc.contextPath}/itemVariety/itemVarietyList.htm">品种列表</a></li>
					     <li id='weightCoefficientUpdate-li'><a href="${rc.contextPath}/weightCoefficient/weightCoefficientUpdate.htm?id=1">权重系数</a></li>
					     <li id='customerWiseList-li'><a href="${rc.contextPath}/customerWise/customerWiseList.htm">客户智选属性列表</a></li>
					     <li id='categorynum-li'><a href="${rc.contextPath}/standardOrder/categorynum.htm">类目数量设定</a></li>
					     <li id='standardOrderList-li'><a href="${rc.contextPath}/standardOrder/standardOrderList.htm?snackpackageType=1">标准套餐列表</a></li>
						 <li id='customerOrderlist-li'><a href="${rc.contextPath}/customerOrder/customerOrderlist.htm">客户预订单列表</a></li>
	                     <li id='planList-li'><a href="${rc.contextPath}/customerOrder/planList.htm">下周采购计划</a></li>
					</ul>
				</li>
			#end
			#if($flag3 == 1)
			<li>
				<a class="a-menu" href="#"><i class="ico ico_01"></i>零食包管理 </a>
				<ul class="b-menu">
					 <li id='snackPackageTypeList-li'><a href="${rc.contextPath}/snackPackageType/snackPackageTypeList.htm">零食包类型</a></li>
				     <li id='standardOrderlist-li'><a href="${rc.contextPath}/snackPackageOrder/standardOrderlist.htm?snackpackageType=2">零食包套餐列表</a></li>
				     <li id='snackPackageOrderlist-li'><a href="${rc.contextPath}/snackPackageOrder/snackPackageOrderlist.htm">零食包列表</a></li>
				     <li id='orderList-li'><a href="${rc.contextPath}/wxOrder/orderList.htm">微信客户订单列表</a></li>
				</ul>
			</li>
			#end -->
			#if($flag4 == 1)
##                <li class="a-menu"><img src="${rc.contextPath}/static/images/store_07.png" class="icon"></i>供应商管理 <img src="${rc.contextPath}/static/images/push.png" class="push">
##                    <ul class="b-menu">
##                        <li id='supplierList-li' url="${rc.contextPath}/supplier/supplierList.htm"><a href="${rc.contextPath}/supplier/supplierList.htm" onclick="return false;">供应商列表</a></li>
##                    </ul>
##                </li>
                <li class="a-menu"><img src="${rc.contextPath}/static/images/store_07.png" class="icon"></i>采购管理 <img src="${rc.contextPath}/static/images/push.png" class="push">
                <ul class="b-menu">
                    <li id='purchaseList-li' url="${rc.contextPath}/purchaseList/purchaseList.htm"><a href="${rc.contextPath}/purchaseList/purchaseList.htm" onclick="return false;">采购订单列表</a></li>
					<li id='supplierList-li' url="${rc.contextPath}/supplier/supplierList.htm"><a href="${rc.contextPath}/supplier/supplierList.htm" onclick="return false;">供应商列表</a></li>
##                    <li id='purchaseItemList-li' url="${rc.contextPath}/purchaseItemPlan/purchaseItemList.htm"><a href="${rc.contextPath}/purchaseItemPlan/purchaseItemList.htm">采购计划</a></li>
##					<li id='outstockList-li' url="${rc.contextPath}/outstockList/outstockList.htm"><a href="${rc.contextPath}/outstockList/outstockList.htm">退货单列表</a></li>
##                    <li id='purchaseAdd-li' url="${rc.contextPath}/purchaseAdd/purchaseAdd.htm"><a href="${rc.contextPath}/purchaseAdd/purchaseAdd.htm">添加采购订单</a></li>
				</ul>
			</li>

			<li class="a-menu"><img src="${rc.contextPath}/static/images/store_08.png" class="icon"></i>采购财务 <img src="${rc.contextPath}/static/images/push.png" class="push">
				<ul class="b-menu">
                    <li id='paymentApply-li' url="${rc.contextPath}/paymentApply/paymentApplyList.htm"><a href="${rc.contextPath}/paymentApply/paymentApplyList.htm" onclick="return false;">付款申请单</a></li>
                    <li id='payment-li' url="${rc.contextPath}/payment/paymentList.htm"><a href="${rc.contextPath}/payment/paymentList.htm" onclick="return false;">付款列表</a></li>
                    <li id='receipt-li' url="${rc.contextPath}/receipt/receiptList.htm"><a href="${rc.contextPath}/receipt/receiptList.htm" onclick="return false;">发票明细</a></li>
				</ul>
			</li>
				#end
			#if($flag4 == 1 || $flag5 == 1 || $flag6 == 1 || $flag8 == 1)
                <li class="a-menu"><img src="${rc.contextPath}/static/images/store_09.png" class="icon"></i>库存管理 <img src="${rc.contextPath}/static/images/push.png" class="push">
				<ul class="b-menu">
					#if($flag4 == 1)
##					<li id='storageSumList-li' url="/statistics/storageSumList.htm"><a href="/statistics/storageSumList.htm">入库单查询统计</a></li>
						<li id='storageList-li' url="${rc.contextPath}/storage/storageList.htm"><a href="${rc.contextPath}/storage/storageList.htm" onclick="return false;">入库单列表</a></li>
					 #end
					#if($flag5 == 1)
						<li id='stockCheckList-li' url="${rc.contextPath}/stockCheck/stockCheckList.htm"><a href="${rc.contextPath}/stockCheck/stockCheckList.htm" onclick="return false;">盘库单管理</a></li>
					#end
					 #if($flag6 == 1)
						<li id='stockList-li' url="${rc.contextPath}/stock/stockList.htm"><a href="${rc.contextPath}/stock/stockList.htm" onclick="return false;">库存列表</a></li>
				     #end
					#if($flag8 == 1)
                        <li id='refundList-li' url="${rc.contextPath}/refund/refundList.htm"><a href="${rc.contextPath}/refund/refundList.htm" onclick="return false;">销售退货列表</a></li>
					#end
                    <li id='outstockList-li' url="${rc.contextPath}/outstockList/outstockList.htm"><a href="${rc.contextPath}/outstockList/outstockList.htm" onclick="return false;">采购退货列表</a></li>
				</ul>
			</li>
			#end
##			#if($flag5 == 1)
##                <li class="a-menu"><img src="${rc.contextPath}/static/images/store_09.png" class="icon"></i>盘库单管理 <img src="${rc.contextPath}/static/images/push.png" class="push">
##				<ul class="b-menu">
##					<li id='stockCheckAdd-li' url="${rc.contextPath}/stockCheck/stockCheckAdd.htm"><a href="${rc.contextPath}/stockCheck/stockCheckAdd.htm">添加盘库单</a></li>
##                    <li id='stockCheckList-li' url="${rc.contextPath}/stockCheck/stockCheckList.htm"><a href="${rc.contextPath}/stockCheck/stockCheckList.htm">盘库单列表</a></li>
##                    <li id='stockAllList-li' url="${rc.contextPath}/stockCheck/stockAllList.htm"><a href="${rc.contextPath}/stockCheck/stockAllList.htm">全库存盘点</a></li>
##				</ul>
##                </li>
##			#end
##			#if($flag6 == 1)
##                <li class="a-menu"><img src="${rc.contextPath}/static/images/store_09.png" class="icon"></i>库存管理 <img src="${rc.contextPath}/static/images/push.png" class="push">
##				<ul class="b-menu">
##					<li id='stockList-li' url="${rc.contextPath}/stock/stockList.htm"><a href="${rc.contextPath}/stock/stockList.htm">库存列表</a></li>
##					<li id='mointorList-li' url="${rc.contextPath}/monitor/mointorList.htm"><a href="${rc.contextPath}/monitor/mointorList.htm">库存每日变更表</a></li>
##				</ul>
##			</li>
##			#end
			#if($flag7 == 1 || $flag8 == 1)
                <li class="a-menu"><img src="${rc.contextPath}/static/images/store_10.png" class="icon"></i>订单管理 <img src="${rc.contextPath}/static/images/push.png" class="push">
				<ul class="b-menu">
					#if($flag7 == 1)
						<li id='orderlist-li' url="${rc.contextPath}/order/orderlist.htm"><a href="${rc.contextPath}/order/orderlist.htm" onclick="return false;">订单列表</a></li>
						<li id='statisticslist-li' url="/statistics/statisticslist.htm"><a href="/statistics/statisticslist.htm" onclick="return false;">销售查询统计</a></li>
					#end
				</ul>
			</li>
			#end
			#if($flag13 == 1)
				<li class="a-menu"><img src="${rc.contextPath}/static/images/store_11.png" class="icon"></i>财务管理 <img src="${rc.contextPath}/static/images/push.png" class="push">
				<ul class="b-menu">
					<li id='debitNoteList-li' url="/debitnote/debitNoteList.htm"><a href="/debitnote/debitNoteList.htm" onclick="return false;">收款单</a></li>
					<li id='invoiceList-li' url="/debitnote/invoiceList.htm"><a href="/debitnote/invoiceList.htm" onclick="return false;">发票明细</a></li>
					<li id='preferentialList-li' url="/debitnote/preferentialList.htm"><a href="/debitnote/preferentialList.htm" onclick="return false;">优惠明细</a></li>
					<li id='debitNoteTranSum-li' url="/debitnote/debitNoteTranSum.htm"><a href="/debitnote/debitNoteTranSum.htm" onclick="return false;">回款列表</a></li>
					<li id='receivedPaymentsReport-li' url="/received/receivedPaymentsReport.htm"><a href="/received/receivedPaymentsReport.htm" onclick="return false;">回款报表</a></li>
					<li id='tranSumList-li' url="/tranSum/tranSumList.htm"><a href="/tranSum/tranSumList.htm" onclick="return false;">核算列表</a></li>
					<li id='performanceList-li' url="/performance/performanceList.htm"><a href="/performance/performanceList.htm" onclick="return false;">销售业绩</a></li>
					<!--<li id='recharge-li'><a href="${rc.contextPath}/debitnote/recharge.htm">会员充值</a></li>
					<li id='recordlist-li'><a href="${rc.contextPath}/record/recordlist.htm">充值记录</a></li>-->
				</ul>
				</li>
			#end
			#if($flag18 == 1)
                <li class="a-menu"><img src="${rc.contextPath}/static/images/store_12.png" class="icon"></i>工单管理 <img src="${rc.contextPath}/static/images/push.png" class="push">
				<ul class="b-menu">
					<li id='gongdan-li' url="${rc.contextPath}/order/gongdan.htm"><a href="${rc.contextPath}/order/gongdan.htm" onclick="return false;">工单列表</a></li>
				</ul>
			</li>
			#end
##			#if($flag8 == 1)
##                <li class="a-menu"><img src="${rc.contextPath}/static/images/store_14.png" class="icon"></i>退货单管理 <img src="${rc.contextPath}/static/images/push.png" class="push">
##				<ul class="b-menu">
##					<li id='refundList-li' url="${rc.contextPath}/refund/refundList.htm"><a href="${rc.contextPath}/refund/refundList.htm">退货单列表</a></li>
##					<li id='refundAdd-li' url="${rc.contextPath}/refund/refundAdd.htm"><a href="${rc.contextPath}/refund/refundAdd.htm">添加退货单</a></li>
##				</ul>
##			</li>
##			#end
			#if($flag9 == 1)
                <li class="a-menu"><img src="${rc.contextPath}/static/images/store_13.png" class="icon"></i>客户管理 <img src="${rc.contextPath}/static/images/push.png" class="push">
				<ul class="b-menu">
					<li id='customerList-li' url="${rc.contextPath}/customer/customerList.htm"><a href="${rc.contextPath}/customer/customerList.htm" onclick="return false;">客户列表</a></li>
					<li id='afterSalesRecordList-li' url="/afterSalesRecord/afterSalesRecordList.htm"><a href="/afterSalesRecord/afterSalesRecordList.htm" onclick="return false;">售后记录列表</a></li>
					<li id='reseauList-li' url="/reseau/reseauList.htm"><a href="/reseau/reseauList.htm" onclick="return false;">网格列表</a></li>
					<li id='deliveryList-li' url="/customer/deliveryList.htm"><a href="/customer/deliveryList.htm" onclick="return false;">交接单列表</a></li>
<!-- 					<li id='userAdd-li'><a href="${rc.contextPath}/user/userAdd.htm">添加用户</a></li> -->
<!-- 					<li id='userAdd-li'><a href="${rc.contextPath}/user/SendSms.htm">短信群发</a></li> -->
				</ul>
			</li>
			#end
			#if($flag10 == 1)
##                <li class="a-menu"><img src="${rc.contextPath}/static/images/store_13.png" class="icon"></i>用户管理 <img src="${rc.contextPath}/static/images/push.png" class="push">
##				<ul class="b-menu">
##					<li id='userList-li' url="${rc.contextPath}/user/userList.htm"><a href="${rc.contextPath}/user/userList.htm">用户列表</a></li>
##				</ul>
##			</li>
			#end

			#if($flag12 == 1)
##                <li class="a-menu"><img src="${rc.contextPath}/static/images/store_08.png" class="icon"></i>供应商管理 <img src="${rc.contextPath}/static/images/push.png" class="push">
##				<ul class="b-menu">
##					<li id='supplierList-li' url="${rc.contextPath}/supplier/supplierList.htm"><a href="${rc.contextPath}/supplier/supplierList.htm">供应商列表</a></li>
##					<li id='supplierAdd-li' url="${rc.contextPath}/supplier/supplierAdd.htm"><a href="${rc.contextPath}/supplier/supplierAdd.htm">添加供应商</a></li>
##				</ul>
			</li>
			#end


			#if($flag21 == 1)
                <li class="a-menu"><img src="${rc.contextPath}/static/images/store_15.png" class="icon"></i>设备管理 <img src="${rc.contextPath}/static/images/push.png" class="push">
				<ul class="b-menu">
					<li id='equipmentList-li' url="${rc.contextPath}/equipment/equipmentList.htm"><a href="${rc.contextPath}/equipment/equipmentList.htm" onclick="return false;">设备类别</a></li>
					<li id='machineList-li' url="${rc.contextPath}/machine/machineList.htm"><a href="${rc.contextPath}/machine/machineList.htm" onclick="return false;">设备列表</a></li>
					<li id='transferList-li' url="${rc.contextPath}/transfer/transferList.htm"><a href="${rc.contextPath}/transfer/transferList.htm" onclick="return false;">设备流转</a></li>
					<li id='camera-li' url="/customerCamera/camera.htm"><a href="/customerCamera/camera.htm" onclick="return false;">摄像头</a></li>

				</ul>
			</li>
			#end
			#if($flag22 == 1)
                <li class="a-menu"><img src="${rc.contextPath}/static/images/store_06.png" class="icon"></i>运营活动 <img src="${rc.contextPath}/static/images/push.png" class="push">
                    <ul class="b-menu">
                        <li id='redList-li' url="/redPacket/redList.htm"><a href="/redPacket/redList.htm" onclick="return false;">红包活动列表</a></li>
                        <li id='newCustomerActivityList-li' url="/newCustomerActivity/newCustomerActivityList.htm"><a href="/newCustomerActivity/newCustomerActivityList.htm" onclick="return false;">新客户活动列表</a></li>
                        <li id='itemSalesPromotionList-li' url="/itemSalesPromotion/itemSalesPromotionList.htm"><a href="/itemSalesPromotion/itemSalesPromotionList.htm" onclick="return false;">商品促销列表</a></li>
                        <li id='discountSettingList-li' url="/shopDiscountSetting/discountSettingList.htm"><a href="/shopDiscountSetting/discountSettingList.htm" onclick="return false;">店铺折扣活动列表</a></li>
                    </ul>
                </li>
			#end
			#if($flag14 == 1)
                <li class="a-menu"><img src="${rc.contextPath}/static/images/store_16.png" class="icon"></i>营销管理 <img src="${rc.contextPath}/static/images/push.png" class="push">
				<ul class="b-menu">
					<li id='list-li' url="/appAdvisory/list.htm"><a href="/appAdvisory/list.htm" onclick="return false;">客户咨询信息</a></li>
                    <li id='recommendredbackList-li' url="/recommendredback/recommendredbackList.htm"><a href="/recommendredback/recommendredbackList.htm" onclick="return false;">兑换红包信息</a></li>
                    <li id='recommendcashbackList-li' url="/recommendcashback/recommendcashbackList.htm"><a href="/recommendcashback/recommendcashbackList.htm" onclick="return false;">推荐返佣信息</a></li>
				</ul>
			</li>
			#end
			#if($flag11 == 1)
                <li class="a-menu"><img src="${rc.contextPath}/static/images/store_14.png" class="icon"></i>权限管理 <img src="${rc.contextPath}/static/images/push.png" class="push">
                    <ul class="b-menu">
                        <li id='roleList-li' url="${rc.contextPath}/role/roleList.htm"><a href="${rc.contextPath}/role/roleList.htm" onclick="return false;">角色列表</a></li>
                        <li id='userlist-li' url="${rc.contextPath}/user/userlist.htm"><a href="${rc.contextPath}/user/userlist.htm" onclick="return false;">用户列表</a></li>
                    </ul>
                </li>
			#end
			#if($isGm==1)
                <li class="a-menu"><img src="${rc.contextPath}/static/images/store_14.png" class="icon"></i>系统管理 <img src="${rc.contextPath}/static/images/push.png" class="push">
				<ul class="b-menu">
					<li id='privilegeList-li' url="${rc.contextPath}/privilege/privilegeList.htm"><a href="${rc.contextPath}/privilege/privilegeList.htm" onclick="return false;">权限列表</a></li>
					<li id='gmlist-li' url="${rc.contextPath}/GM/gmlist.htm"><a href="${rc.contextPath}/GM/gmlist.htm" onclick="return false;">用户列表</a></li>
				</ul>
			</li>
			#end
           #if($flag15 == 1)
               <li class="a-menu"><img src="${rc.contextPath}/static/images/store_17.png" class="icon"></i>日志管理 <img src="${rc.contextPath}/static/images/push.png" class="push">
				<ul class="b-menu">
					<li id='logList-li' url="/log/logList.htm"><a href="/log/logList.htm" onclick="return false;">日志列表</a></li>
					<li id='shopLogList-li' url="/log/shopLogList.htm"><a href="/log/shopLogList.htm" onclick="return false;">便利店日志列表</a></li>
				</ul>
			</li>
			#end
            <input type="hidden" name="menuHeight" id="menuHeight" value="$!menuHeight" />
            <input type="hidden" name="menuName" id="menuName" value="$!menuName" />

		</ul><!--s-nav-->
	</div><!--sidebar-->
<script type="text/javascript">
    $(function(){
        $('.sidebar').scrollTop($('#menuHeight').val());
        var xuan = $('#menuName').val();
        $(".b-menu li").each(function(){
            if (xuan == $(this).attr("id")) {
                $(this).find("a").css("color","#FFE500")
                $(this).parent().siblings(".push").addClass("fanzhuang")
                $(this).parent().show();
            }
        })
    })
    $(".a-menu").on("click",function(){
        //console.log($(this).offset().top);

        if ($(this).find(".b-menu").css("display") == "none") {
            $(this).find(".push").addClass("fanzhuang")
            $(this).find(".b-menu").slideDown(300);
        }else{
            $(this).find(".push").removeClass("fanzhuang")
            $(this).find(".b-menu").slideUp(300);
        }

    })
    $(".b-menu li").on("click",function(event){
        var dao_height = $(".sidebar").scrollTop()
        var name = $(this).attr("id");
        var url = $(this).attr("url");
        window.location.href=url+"?menuHeight="+dao_height+"&menuName="+name;
        event.stopPropagation();
    })
</script>