#set($layout="layout/blank.vm")
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
    	<title>结算单明细</title>
    	
    	<link rel="shortcut icon" href="${rc.contextPath}/static/images/favicon.png" type="image/png" />
<!--     	<link rel="stylesheet" href="${rc.contextPath}/static/css/cc-main.css" type="text/css" /> -->
    	<link rel="stylesheet" href="${rc.contextPath}/static/css/jquery-ui.min.css" type="text/css" />
		<script type="text/javascript" src="${rc.contextPath}/static/js/jquery.js"></script>
		<script type="text/javascript" src="${rc.contextPath}/static/js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="${rc.contextPath}/static/js/commonUtil.js"></script>
		<script type="text/javascript" src="${rc.contextPath}/static/js/jquery.jqtransform.js"></script>
		<script type="text/javascript" src="${rc.contextPath}/static/js/function.js"></script>
		<script type="text/javascript" src="${rc.contextPath}/static/js/zone.js" charset="UTF-8"></script>
		<script type="text/javascript" src="${rc.contextPath}/static/js/jquery.validate.min.js" charset="UTF-8"></script>
		<script type="text/javascript" src="${rc.contextPath}/static/js/jquery.metadata.js" charset="UTF-8"></script>
		<script type="text/javascript" src="${rc.contextPath}/static/js/messages_cn.js" charset="UTF-8"></script>
        <script type="text/javascript" src="${rc.contextPath}/static/js/datepicker_cn.js" charset="UTF-8"></script>
        <script type="text/javascript" src="${rc.contextPath}/static/js/jquery-ui-timepicker-addon.js" charset="UTF-8"></script>

    	<script type="text/javascript">
			function f_print() {
				var oldstr = document.body.innerHTML;
				document.body.innerHTML = document.getElementById('div_print').innerHTML;
			    window.print();
			    document.body.innerHTML = oldstr;
			}
			
			function f_export(){
			   var tranSumId = $('#tranSumId').val();
			   var url ="${rc.contextPath}/tranSum/export.do?tranSumId="+tranSumId;
			   window.open(url);
			}
		</script>

		<style type="text/css">
			body {font-size:14px;}
			table {
			 border-collapse: collapse;
			 border: none;
			 width: 100%;
			}

			td {
			 border: solid #000 1px;
			 font-size:14px;
			}

			.span_bold{
				font-weight:bold;
			}

			.btn{
				display:inline-block;
				*display:inline;
				*zoom:1;
				margin-right:7px;
				height:33px;
				line-height:33px;
				*line-height:30px;
				border:1px solid transparent;
				border-radius:2px;
				cursor:pointer;
				padding:0 15px;
				font-size:14px;
				text-decoration:none;
				transition:All 0.4s ease-in-out;
				-webkit-transition:All 0.4s ease-in-out;
				-moz-transition:All 0.4s ease-in-out;
				-o-transition:All 0.4s ease-in-out;
				}
			 .btn .ico{
				display:inline-block;
				*display:inline;
				*zoom:1;
				width:14px;
				height:14px;
				margin-right:6px;
				margin-left:-5px;
				vertical-align:-2px;
				*vertical-align:2px;
				}

				.btn-success{
				color:#fff;
				background-color:#55c555;
				border-color:#4cb84c;
				}
				.btn-success:hover{
				background-color:#50b650;
				border-color:#49aa49;
				}
				.btn-success .ico{
				background-position:0 0;
				}
		</style>
    </head>
    <body>
    <br/>
<!--     <a href="javascript:f_print();" class="btn btn-success">打印本页</a> -->
    <a href="javascript:f_export();" class="btn btn-success">导出PDF</a>
    <br/>
    <br/>
    <div id = "div_print" style='margin-left:30px;margin-right:30px'>
    <input type="hidden" id="tranSumId" name="tranSumId" value="$!{dto.id}" />
     <div align="center">
    <span style="font-size:20px;font-weight:bold;position: relative;top:-10px;" align="center">领蛙结算单明细</span>
    </div>

        <div style="width:100%;">
			<span style="display:-moz-inline-box; display:inline-block; width:20%;">客户：$!{dto.userName}</span>
			<span style="display:-moz-inline-box; display:inline-block; width:35%;">公司：$!dto.companyName</span>
			<span style="display:-moz-inline-box; display:inline-block; width:15%;">月份：$!date.format('yyyy-MM',$!dto.sumDate)</span>
			<span style="display:-moz-inline-box; display:inline-block; width:20%;">金额：$NumberTool.toYuanNumber($!dto.amount) 元</span>
        </div>

     	<table>
			<tr>

    		  <td class="span_bold" width="40%">单据编号</td>
    		  <td class="span_bold" width="30%">日期</td>
    		  <td class="span_bold" width="30%">金额</td>

    		 </tr>

				#foreach($detail in ${dto.detailList})

    			  #set ($isOddRow = $rowCount % 2 == 0)
        			#if ($isOddRow)
        				<tr>
        	        #else
        				<tr class="sep-bar">
					#end

					<td>$!detail.no</td>
    	          	<td>$!date.format('yyyy-MM-dd',$!detail.executedTime)</td>
    	          	<td>$NumberTool.toYuanNumber($!detail.totalFee)</td>
 					 </tr>
				#end




			</table>



		</div>
	</body>
</html>