#set($layout="layout/appLayoutV3.vm")
<script type="text/javascript">
 var checkSubmitFlag = false;
	function save() {
		var name = $("input[name='name']").val();
		var mobilePhone = $("input[name='mobilePhone']").val();
		var companyName = $("input[name='companyName']").val();
		if(!name||!mobilePhone||!companyName){
			alert("信息不能为空");
			return false;
		}else{
			if(/^(0|86|17951)?(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57])[0-9]{8}$/.test(mobilePhone)){
				if(checkSubmitFlag ==true){
			       alert("请勿重复提交");
			       return false;
			    }
		
			    checkSubmitFlag = true;
				return true;
			}else{
				alert("请填写正确的手机号码！");
				return false;
			}
		}
	  	
		
	}
</script>
<div class="lw_body_wrap">
        <div class="head">
            <img src="${rc.contextPath}/static/images/pc/logo_dui.png">
        </div>
        <div class="lw_content">
            <div class="login_wrap">
                <h4>咨询</h4>
                <h5>领蛙零食供应方案</h5>
                <div class="tel"><a href="tel:400-880-1703"><img width="85%" src="${rc.contextPath}/static/images/pc/about_logo.jpg"></a></div>
                <div class="des">
                    <p>另通过微信直接留言或填写以下表单，领蛙</p>
                    <p>工作人员会及时回复或联系您</p>
                </div>
                <form  id="advisoryForm" name="advisoryForm" class="SecurityCode FormAdv" action="${rc.contextPath}/appAdvisory/appAdd.do" method="post">
                    <span class="user_name">
                        <input type="text" name="name" validate="{required:true}" placeholder="姓名">
                    </span>
                    <span class="user_name">
                        <input type="text" name="mobilePhone" validate="{required:true}" placeholder="手机">
                    </span>
                    <span class="user_name">
                        <input type="text" name="companyName" validate="{required:true}" placeholder="公司">
                    </span>
                    <button id="saveBtn" type="submit" onclick="return save();">提交</button>
                </form>
            </div>
     
        </div>
    
    </div>