<form class="jqtransform" id="form1" name="form1" action="${rc.contextPath}/redPacket/redList.htm?menuHeight=$!menuHeight&menuName=$!menuName" method="post">
</form>
<div class="content">
		<div class="bd-actionbar">
			<a href="/redPacket/add.htm?menuHeight=$!menuHeight&menuName=$!menuName" class="btn btn-success"><i class="ico"></i>添加活动</a>
	    </div><!--bd-actionbar-->
		<div class="bd-main">
		<div class="bd-main-inner">
		<table class="table" style="border:#000 solid 2px;margin-bottom:20px">
            <input type="hidden" name="menuHeight" id="menuHeight" value="$!menuHeight" />
            <input type="hidden" name="menuName" id="menuName" value="$!menuName" />
        <tr class="info">
			<td colspan="1">
                <span>发放总额：$NumberTool.toYuanNumber($!fee1) 元</span>
                <span>红包使用金额：$NumberTool.toYuanNumber($!fee2) 元</span>
                <span>红包剩余金额：$NumberTool.toYuanNumber($!fee3) 元</span>
            </td>
		</tr>
		</table>
			<table class="table">
			  <tr>
				<th>活动名称</th>
				<th>每人限领</th>
				<th>活动时间</th>
				<th>每日活动预算金额</th>
				<th>发放店铺</th>
				<th>领取情况</th>
				<th>活动状态</th>
				<th>操作</th>
			  </tr>
			  #foreach($bean in $page.result)
		        <tr>
					<td>$!bean.redName</td>
					<td>#if($!bean.count==0)不限 #else 一天$!bean.count次 #end</td>
					<td>$!date.format('yyyy-MM-dd',$!bean.startTime)~$!date.format('yyyy-MM-dd',$!bean.endTime)</td>
					<td>$NumberTool.toYuanNumber($!bean.redBudget)</td>
					<td data-id="$!bean.id">
						#if($!bean.type==0)
							<select name="type" onchange="fafang(this)">
								<option value="0">--未发放--</option>
								<option value="1">全部发放</option>
								<option value="2">指定店铺发放</option>
							</select>
						#elseif($!bean.type==1)
							全部发放
						#elseif($!bean.type==2)
							<a href="${rc.contextPath}/redPacket/addcustomer.htm?id=$!bean.id&menuHeight=$!menuHeight&menuName=$!menuName">指定店铺发放</a>
						#end
					</td>
					<td><a href="${rc.contextPath}/redPacket/receiveList.htm?id=$!bean.id&menuHeight=$!menuHeight&menuName=$!menuName">详情</a></td>
					<td>#if($!bean.redStatus==1)#if($!bean.sign==0)未开始 #elseif($!bean.sign==1)已开始 #elseif($!bean.sign==2)已结束 #end #else 强制结束 #end</td>
					<td>#if($!bean.redStatus==1)<a href="#" data_id="$!bean.id" onclick="over(this);">结束</a>#end</td>
				</tr>
			  #end
			</table>
		<div class="text-center">
           #parse("/common/page.vm")
        </div>
		</div><!--bd-main-inner-->
		</div><!--bd-main-->
	</div><!--content-->
<script type="text/javascript">
	function fafang(target){
		var type = $(target).val();
		var id = $(target).parent().attr("data-id");
		if(type==1){
			//全部发放
			$.ajax({
					url:'${rc.contextPath}/redPacket/change.do',
					type:'POST',
					data: {id:id},
					success:function(data){
						if(data=="200"){
							$(target).parent().html("全部发放");
						}else{
							alert("发放失败");
						}
					}
					
				})
		}else if(type==2){
            var menuHeight =$('#menuHeight').val();
            var menuName = $('#menuName').val();
			window.location.href="${rc.contextPath}/redPacket/addcustomer.htm?id="+id+"&menuHeight="+menuHeight+"&menuName="+menuName;
		}
	}
	
	function over(target){
		var id = $(target).attr("data_id");
		if(confirm("确定结束吗？")){
			$.ajax({
					url:'${rc.contextPath}/redPacket/stop.do',
					type:'POST',
					data: {id:id},
					success:function(data){
						if(data=="200"){
							$(target).parent().html("");
							$(target).parent().parent().find("td").eq(6).html("强制结束");
						}else{
							alert("强制结束失败");
						}
					}
					
				})
			}
	}
</script>